

*{
    margin: 0;
    border: border-box;
     font-family: "Nunito", sans-serif;
}
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
}
.nav-logo{
      background-image: url(White-Amazon-Logo-PNG-HD-Quality.png);
      background-size: cover;
      height: 38px;
      width: 110px;
     margin-top: 5px;
     
      
}
.loc{
    padding: 2.5px;
}
.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}
.del{
    margin-left: 20px;
    font-size: 0.75rem;
}
.icon{
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.search-bar{
     display: flex;
     width: 790px;
     height: 40px;
     background-color: pink;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     justify-content: space-evenly;
}
.search-bar select{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
    border-right: 1.2px solid rgb(178, 178, 179);
    background-color: #e6e6e6;
    width: 55px;
   text-align: center;
   color: #636262;
    
}
.search-input{
     width: 100%;
     border: none;
     font-size: 1rem;
}
.search-icon{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 165, 15);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.search-bar:hover{
    border: 1px solid orange;
}


.sign-p1{
    font-size: 0.75rem;
}
.sign-p2{
    font-size: 0.9rem;
    font-weight: 700;
}
.return-p1{
    font-size: 0.75rem;
}
.return-p2{
    font-size: 0.9rem;
    font-weight: 700;
}
.cart-icon i{
    font-size: 30px;
}
.cart-icon{
    font-weight: 700;
}
.all{
    padding: 9.4px;
    display: flex;
    align-items: center;
}
.all .fa-solid{
    font-size: 1.2rem;
}

.main-section{
    background-image: url(71GGl3UpyOL._SX3000_.jpg);
    background-size: cover;
    height: 400px;
    
 
}
.pannel{
    width: 100%;
    height: 40px;
    background-color: rgb(35, 38, 49);
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}
.pannel-data p{
    display: inline-block;
    margin-left: 0px;
    padding: 11px;
}
